body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainText {
  font-family: 'Jersey 25'; /* Fallback to a default font if Jersey 25 fails */
  font-size: 34px; /* Adjust as needed */
  color: white; /* Optional: Set your preferred color */
  text-shadow:
    1px 1px 0px black,   /* Right and Down Shadow */
    -1px -1px 0px black, /* Left and Up Shadow */
    1px -1px 0px black,  /* Right and Up Shadow */
    -1px 1px 0px black,
    -2px 1px 0px yellow;
  z-index: 999;
}

#main{
  background-image: url("img/firstpage_monster.png");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  width: 100%; /* Full width of the container */
  height: 500px; /* Set the height (can be adjusted as needed) */
}

#biography{
  background-image: url("img/biographyBackground.png");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  background-color: black; 
  width: 100%; /* Full width of the container */
  height: 1000px; /* Set the height (can be adjusted as needed) */
}

#skills{
  background-image: url("img/skillsBack.png");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  background-color: black; 
  width: 100%; /* Full width of the container */
  height: 1500px; /* Set the height (can be adjusted as needed) */
}

#projects{
  background-image: url("img/projectBack.png");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  background-color: black; 
  width: 100%; /* Full width of the container */
  height: 1500px; /* Set the height (can be adjusted as needed) */
}



